<a href="https://colab.research.google.com/github/Nicky-codez/Bigdata_ucm/blob/main/Nikhil_icp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

question 1
1.Counter.count is a class varaiable shared across all instance where as the self._count is an instance variable which is unique for the each object
2. out put for the
a.get_count:Instance count: 2, Class count: 3
b.get_counts: Instance count: 1, Class count: 3
3.
self._count+=1 where the a is called twice and b is call once a._count:2 b._count:1,Counter.count+=1 the counter count all three increments so a.counter:3 and b.counter :3

In [ ]:
class Counter:
    count = 0

    def __init__(self):
        self._count = 0

    def increment(self):
        self._count += 1
        Counter.count += 1

    def get_counts(self):
        return f"Instance count: {self._count}, Class count: {Counter.count}"

a = Counter()
b = Counter()

a.increment()
a.increment()
b.increment()

print(a.get_counts())
print(b.get_counts())

Instance count: 2, Class count: 3
Instance count: 1, Class count: 3

In [ ]:
def sum_all(*args):
    return sum(args)


print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [ ]:
def first_word(words):
    return min(words)

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))

Bartholomew

In [ ]:
class Employee:
    employee_count = 0
    total_salary = 0.0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department

        Employee.employee_count += 1
        Employee.total_salary += salary

    def average_salary(cls):
        if cls.employee_count == 0:
            return 0
        return cls.total_salary / cls.employee_count


    average_salary = classmethod(average_salary)


class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)



e1 = Employee("Nikhil", "Gantasala", 50000, "HR")
e2 = FulltimeEmployee("charan", "Gorantla", 60000, "Engineering")
e3 = FulltimeEmployee("akshay", "Bollipaly", 70000, "Finance")


print("Total Employees:", Employee.employee_count)
print("Average Salary:", Employee.average_salary())
print("Fulltime Employee name:", e2.name)
print("Department:", e2.department)

Total Employees: 3
Average Salary: 60000.0
Fulltime Employee name: charan
Department: Engineering